---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tikur Azmud</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about">About</a>
        <a href="/blog">Blog</a>
		<h1>Blog about Tikur Azmud</h1>
        <p>Black seed, also known as Nigella sativa, is a small flowering plant native to regions of Western Asia, the Middle East, and parts of Eastern Europe. The seeds, commonly referred to as black cumin, kalonji, or black caraway, have been utilized for centuries in culinary and traditional medicinal practices</p>
	</body>
</html>
